@page "/privacy"

<h3>Privacy Policy</h3>

<p>
	JsonValidate.net is committed to providing quality services to you and this policy outlines our ongoing 
	obligations to you in respect of how we manage your Personal Information.
</p>

<h5>
	Personal Information
</h5>

<p>
    We do not collect any personal information. However, we do track cookies for usage analytics via 
    Azure Application Insights. Click 
    <a href="https://docs.microsoft.com/en-us/azure/azure-monitor/app/app-insights-overview">
    here</a> to learn more about the monitoring data that is collected.
</p>

<h5>Complaints and Enquiries</h5>

<p>
    If you have any queries or complaints about our Privacy Policy please contact us at our 
    <a href="https://github.com/marcusturewicz/JsonValidate.net/issues">GitHub</a> repository.
</p>

<h5>Consent</h5>

<p>
    By using our website, you hereby consent to our Privacy Policy and agree to its terms and conditions.
</p>

