@page "/privacy"

<title>JsonValidate - Privacy Policy</title>

<h3>Privacy Policy</h3>

<p>
	JsonValidate.net is committed to providing quality services to you and this policy outlines our ongoing 
	obligations to you in respect of how we manage your Personal Information.
</p>

<h5>
	Personal Information
</h5>

<p>
    We do not collect any personal information. However, like most websites we do track cookies for usage 
    analytics via Google Analytics. Click 
    <a href="https://developers.google.com/analytics/resources/concepts/gaConceptsTrackingOverview">
    here</a> to learn more about the monitoring data that is collected.
</p>

<h5>Complaints and Enquiries</h5>

<p>
    If you have any queries or complaints about our Privacy Policy please contact us at our 
    <a href="https://github.com/marcusturewicz/JsonValidate.net/issues"
        aria-label="File any queries or complaints on the GitHub repository">GitHub</a> repository.
</p>

<h5>Consent</h5>

<p>
    By using our website, you hereby consent to our Privacy Policy and agree to its terms and conditions.
</p>

